<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Tencent-ISUX">
    <meta name="Copyright" content="Tencent">
    <meta name="Description" content="微云是腾讯公司为用户精心打造的一项智能云服务, 您可以通过微云方便地在手机和电脑之间,同步文件、推送照片和传输数据。">
    <meta name="Keywords" content="QQ, 腾讯,微云, 分享, 网盘, 网络硬盘, U盘, 云存储, 传输, 存储, 同步, 备份, 拍照, 上传, 下载, 中转, 文件, 照片, 相册, 离线,
传文件, wifi, cloud, iphone, android, pc, 微云官网网站, 微云官网, 微云网页版, weiyun, weiyun web">
    <title>微云，全能收藏 无处不在 - 官方网站</title>
    <link rel="stylesheet" href="//imgcache.qq.com/vipstyle/nr/box/platform/wy-header.css" media="screen">
    <link rel="stylesheet" href="//imgcache.qq.com/vipstyle/nr/box/platform/wy-checkout-rule.css" media="screen">
    <!--[if IE 6]><script type="text/javascript">try{document.execCommand('BackgroundImageCache',false,true);}catch(e){}</script><![endif]-->
    <script>
        window.WEIYUN_APPID = 31500;
    </script>
</head>
	<body>
    <div class="wrapper" style="margin-bottom: 250px">
        <div class="wy-header">
            <div class="wy-mod-nav clearfix">
                <h1>
                    <a href="http://www.weiyun.com">
                        <i class="icon icon-header-logo"></i>
                    </a>
                </h1>
                <ul class="wy-mod-nav-main clearfix">
                    <!--<li>-->
                        <!--<a href="index.html?WYTAG=weiyun.portal.index" class="">首页</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="download.html?WYTAG=weiyun.portal.index" data-log-id="150008">下载</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="function.html?WYTAG=weiyun.portal.index" data-log-id="150022">功能介绍</a>-->
                    <!--</li>-->
                    <li>
                        <a href="//jump.weiyun.com?from=2005" data-log-id="150022" style="margin-right: 80px">微云会员</a>
                    </li>

                </ul> 
            </div>
        </div>
        <div class="wy-content">
            <div class="wy-checkout-content">
                <div class="wy-download-wrap">
                    <h2>微云手机版下载入口</h2>
                    <div class="wy-download-code"></div>
                    <div class="wy-download-type">
                        <ul>
                            <li class="wy-download">
                                <span class="wy-download-name">iPhone版：</span>
                                <a id="_download_iphone" href="#" class="wy-download-btn" target="_blank">
                                    <i class="icon icon-ios"></i>
                                    <span>立即下载</span>
                                </a>
                            </li>
                            <li class="wy-download last-wy-download">
                                <span class="wy-download-name">Android版：</span>
                                <a id="_download_android" href="#" class="wy-download-btn" target="_blank">
                                    <i class="icon icon-android"></i>
                                    <span>立即下载</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="wy-grade-rule-wrap">
                    <h2>等级点亮规则</h2>
                    <p>【点亮】在微云手机端累计签到3次，即可点亮图标。</p>
                    <table>
                        <tr class="grade-tr">
                            <th>等级</th>
                            <td>Lv1</td>
                            <td>Lv2</td>
                            <td>Lv3</td>
                            <td>Lv4</td>
                        </tr>
                        <tr class="grade-icon-tr">
                            <th>等级图标</th>
                            <td><i class="icon icon-grade1"></i></td>
                            <td><i class="icon icon-grade2"></i></td>
                            <td><i class="icon icon-grade3"></i></td>
                            <td><i class="icon icon-grade4"></i></td>
                        </tr>
                        <tr class="grade-check-tr">
                            <th>手机客户端签到次数</th>
                            <td>3次</td>
                            <td>10次</td>
                            <td>50次</td>
                            <td>150次</td>
                        </tr>
                    </table>
                    <p class="wy-checkout-tip">备注：微云图标等级目前最高为lv4，新规则上线后，原有的微云图标点亮用户其点亮图标和等级均保留不变</p>
                </div>
                <div class="wy-checkout-teach" style="margin-bottom:0px">
                    <h2>如何签到？</h2>
                    <ul class="wy-checkout-step">
                        <li class="wy-checkout-step-item wy-checkout-step1">
                            <p>1.微云手机版点击“工具”</p>
                            <div class="wy-checkout-step-img"></div>
                        </li>
                        <li class="wy-checkout-step-item wy-checkout-step2">
                            <p>2.点击右上角礼物图标</p>
                            <div class="wy-checkout-step-img"></div>
                        </li>
                        <li class="wy-checkout-step-item wy-checkout-step3">
                            <p>３.点击每日签到即可</p>
                            <div class="wy-checkout-step-img"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper" style="min-height: 100%; position: relative;">

    <div class="wy-footer" style="margin-top: 200px">
        <div class="footer-cont">
            <div class="logo">
                <a href="//www.weiyun.com/" target="_blank">
                    <img src="//imgcache.qq.com/vipstyle/nr/box/home/img/logo2.png" alt="腾讯云">
                </a>
            </div>
            <div class="copyright">
                <div class="friend-href">
                    <p>
                        <a href="http://z.qzone.com/" title="QQ空间手机版">QQ空间手机版</a> |
                        <a href="http://huabao.qzone.qq.com/" title="画报">画报</a> |
                        <a href="http://y.qq.com/" title="QQ音乐">QQ音乐</a> |
                        <a href="http://www.qcloud.com/" title="腾讯云">腾讯云</a> |
                        <a href="http://fm.qq.com/" title="企鹅FM">企鹅FM</a> |
                        <a href="http://ke.qq.com?from=102" title="腾讯课堂">腾讯课堂</a>
                    </p>
                </div>
                <p><a href="http://www.tencent.com/" target="_blank">关于腾讯</a> | <a href="http://www.weiyun.com/xy.html" target="_blank">服务条款</a> | <a href="//kf.qq.com/" target="_blank">客服中心</a> | 粤B2-20090059-86号</p>
                <p>版权声明：您应尊重相关作品著作权人合法权益，未经著作权人合法授权，不能违法上传、存储、分享他人作品</p>
                <p> <a href="http://www.weiyun.com/complaint.html" target="_blank"> 侵权投诉指引</a> | 举报或投诉：<a class="email" href="mailto:notice-b2@tencent.com"> notice-b2@tencent.com</a></p>
                <p>Copyright © 1998 - <span id="this_year">2015</span> Tencent. All Rights Reserved. 腾讯公司 版权所有</p>
            </div>
            <div class="mod-select-lan" style="display:none;">
                <a href="#">中文</a> / <a href="#">English</a>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript" src="//imgcache.qq.com/club/weiyun/js/publics/jquery/jquery-1.8.3.min.js??max_age=31104000"></script>
    <script>
        function callback_65_config1(data) {

            $('#_download_android').attr('href', data['android']['download_url']);
            $('#_download_iphone').attr('href', data['iphone']['download_url']);
        }

        function set_full_year() {
            var year = 2015,
                $this_year = $('#this_year');
            if(new Date().getFullYear() > year) {
                year = new Date().getFullYear();
                $this_year.text(year);
            }
        }
        set_full_year();
    </script>
    <script type='text/javascript' src='//qzonestyle.gtimg.cn/qzone/qzactStatics/configSystem/data/65/config1.js'></script>
    <script type='text/javascript' src='//img.weiyun.com/club/weiyun/js/publics/tcss/tcss.ping.js'></script>
    <script type="text/javascript">
        (function(){
            if (typeof pgvMain == 'function') {
                pgvMain("", {
                    tagParamName: 'WYTAG',
                    virtualURL: 'checkout-rule.html',
                    virtualDomain: "www.weiyun.com"
                });
            }
        })();
    </script>   
</body></html>