<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="zh-cn">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Tencent-ISUX">
    <meta name="Copyright" content="Tencent">
    <meta name="Description" content="微云是腾讯公司为用户精心打造的一项智能云服务, 您可以通过微云方便地在手机和电脑之间,同步文件、推送照片和传输数据。">
    <meta name="Keywords" content="微云, 微云下载, 腾讯微云, 照片备份, 手机照片备份, 通讯录备份, 文件管理, 相册管理, 云相册, 微云官网网站, 微云官网, 微云网页版, weiyun, weiyun web">
    <title>微云，全能收藏 无处不在 - 官方网站😀</title>
    <link rel="stylesheet" href="//qzonestyle.gtimg.cn/qz-proj/wy-platform/feedback.css">
    <style>@-moz-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@-webkit-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@-o-keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}@keyframes nodeInserted{from{opacity:0.99;}to{opacity:1;}}embed,object{animation-duration:.001s;-ms-animation-duration:.001s;-moz-animation-duration:.001s;-webkit-animation-duration:.001s;-o-animation-duration:.001s;animation-name:nodeInserted;-ms-animation-name:nodeInserted;-moz-animation-name:nodeInserted;-webkit-animation-name:nodeInserted;-o-animation-name:nodeInserted;}</style></head>
<body cz-shortcut-listen="true">
<div id="contain" class="feedback">
    <!-- 反馈帮助 S -->
    <div data-id="help" class="full-pop full-pop-large feedback-help">

        <div class="full-padding"></div>
        <div class="full-pop-content">
            <div class="tab-box">
                <ul class="tab-head">
                    <!-- 显示该tab加on -->
                    <li data-action="tab" data-id="1" class="item on"><a class="tab">热点</a></li>
                    <li data-action="tab" data-id="2" class="item"><a class="tab">上传</a></li>
                    <li data-action="tab" data-id="3" class="item"><a class="tab">下载</a></li>
                    <li data-action="tab" data-id="4" class="item"><a class="tab">特权</a></li>
                    <li data-action="tab" data-id="5" class="item"><a class="tab">其他</a></li>
                </ul>
                <div class="tab-body-wrap">
                    <ul class="tab-body">
                        <!-- 显示该tab加on -->
                        <li data-id="content_1" class="item on">
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">关于升级微云会员的规则说明</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="64">
                                    <p class="answer">腾讯微云现已将推出微云专属特权服务提供：<br/>
                                        超大文件上传特权、分享链接期限特权、智能图片标签特权、文件容量储存特权，四大专属VIP服务。
                                    </p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">如何开通微云会员？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="507">
                                <p class="answer">用户可通过微云平台客户端，点击“VIP会员中心”后，选择服务期限和支付方式（Q币/QQ卡、财付通、微信支付、银联在线支付、手机充值卡），支付完成后即可获得微云会员服务，具体特权内容如下：<br/>
                                    特权与功能说明表：
                                </p>
                                <p class="answer"><img src="//img.weiyun.com/vipstyle/nr/box/img/feedback/wy-privilege.png"></p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">腾讯微云开展“净网行动”公告</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="190">
                                <p class="answer">【腾讯微云】在此特别提示，请您务必严格遵守国家法律法规及【“腾讯微云”软件许可及服务协议】，如果您有任何违背相关法律规定及协议约定行为，包括但不限于上传、传播或存储等宣扬暴力恐怖、色情等违法内容的，我公司将将依据国家法律法规进行处理并保留追求您法律责任的权利。<br/>
                                    请各位微云用户加强自律，相互监督，与我司一起共同营建积极健康的绿色网络环境。<br/>
                                    若您发现任何涉嫌暴力恐怖、色情等违法信息及内容，也欢迎您积极举报。举报电话：0755-83765566。<br/>
                                    微云项目组<br/>
                                    2014年04月15日<br/>
                                </p>
                                </div>
                            </div>
                        </li>
                        <li data-id="content_2" class="item">
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">为什么微云上传文件不能超过1G？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="64">
                                <p class="answer">您好，由于业务功能调整，上传单个文件/视频，普通用户单日上传上限不能超过1G，会员用户单日上传上限不能超过20G，有特殊需求的用户可以开通会员提升单日上传上限。</p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">微云无法上传提示错误代码510070？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="46">
                                    <p class="answer">您好，如果您在文件上传的时候遇到相关的提示，建议您对您当前的浏览器使用修复工具修复后重新上传 。</p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">微云无法上传提示错误代码510065？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="46">
                                    <p class="answer">您好，如果您在文件上传的时候遇到相关的提示，建议您对您当前的浏览器使用修复工具修复后重新上传。</p>
                                </div>
                            </div>
                        </li>
                        <li data-id="content_3" class="item">
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">客户端首次登陆后无法下载，提示目录加载中？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="46">
                                    <p class="answer">您好，由于首次登陆后目录需要重新拉取数据，建议您等目录加载完毕后再下载文件。</p>
                                </div>
                            </div>
                        </li>
                        <li data-id="content_4" class="item">
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">关于升级微云会员的规则说明</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="64">
                                <p class="answer">腾讯微云现已将推出微云专属特权服务提供：<br/>
                                    超大文件上传特权、分享链接期限特权、智能图片标签特权、文件容量储存特权，四大专属VIP服务。
                                </p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">如何开通微云会员？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="507">
                                    <p class="answer">用户可通过微云平台客户端，点击“VIP会员中心”后，选择服务期限和支付方式（Q币/QQ卡、财付通、微信支付、银联在线支付、手机充值卡），支付完成后即可获得微云会员服务，具体特权内容如下：<br/>
                                    特权与功能说明表：
                                </p>
                                <p class="answer"><img src="//img.weiyun.com/vipstyle/nr/box/img/feedback/wy-privilege.png"></p>
                                </div>
                            </div>
                        </li>
                        <li data-id="content_5" class="item">
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">账号系统大升级，微信与QQ数据打通合并</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="406">
                                    <p class="answer">
                                    1、数据互通<br/>
                                    为进一步提升用户微云使用体验，微云项目组决定升级存储数据，打通合并微信账号与QQ账号数据。<br/><br/>
                                    2、账号融合<br/>
                                    合并后的数据可以使用QQ或微信账号两者任一账号登录。<br/><br/>
                                    3、微信绑定<br/>
                                    在微信App内绑定QQ账号的用户，微信号与QQ号数据将会打通合并，如未绑定微信QQ的用户需要帐号合并，则需在【微信】App内绑定QQ账号。<br/><br/>
                                    4、储存容量<br/>
                                    合并后网盘容量自动升级为QQ号或微信号二者较大的容量。<br/><br/>
                                    5、合并时间<br/>
                                    2015年12月14日至2015年12月24日。<br/>
                                    PS：由于融合工程浩大，时间会根据进度顺延，请广大用户理解及见谅<br/>
                                </p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">怎么将不用的文件删除/找回？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="64">
                                    <p class="answer">您可以通过微云目录->选中您不需要的文件->点击垃圾桶图标->选择确定进行删除，如果您想找到删除的文件，您可以通过微云工具->回收站进行还原即可（删除的文件如超过30天将无法进行还原）</p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">怎么关闭独立密码？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="251">
                                <p class="answer">请您使用手机登陆微云=》工具=》设置=》安全与隐私=》独立密码=》关闭独立密码=》输入当前设置的独立密码后即可关闭完成</p>
                                <p class="answer"><img src="//img.weiyun.com/vipstyle/nr/box/img/feedback/wy-pwd.png"></p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">如何分享微云网盘上的文件给好友？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="118">
                                <p class="answer">
                                    1、如果您想把某一个文件分享给好友，可以先进入微云网盘=》点击页面下方的“分享”=》选择要分享的文件。<br/>
                                    2、微云网盘会自动替该文件生成一个网页链接，您可以选择用邮件、短信或者其他手机应用（比如微博、微信和QQ等)把网页链接发送给好友，而您的好友可以直接使用电脑或手机的浏览器打开链接即可下载该文件。<br/>
                                    温馨提示：只要分享链接的文件未删除，分享链接将会一直存在。
                                </p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">在微信中保存文字和语音信息到微云的方法</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="82">
                                    <p class="answer">请先在微信中关注微云=》根据提示输入QQ号码和密码进行绑定=》 长按要保存的消息=》选择公众号 =》微云=》内容会自动保存到微云=》登录到
                                    http://www.weiyun.com/disk/index.html#m=disk点击“网盘”=》选择“微信”即可查看到。
                                </p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">如何在邮箱中发送微云文件？</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="298">
                                    <p class="answer">在QQ邮箱写信状态下，选择添加附近后的倒三角“▽”—“从网盘中选择”。
                                </p>
                                <p class="answer"><img src="//img.weiyun.com/vipstyle/nr/box/img/feedback/wy-mail.png"></p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">签到送礼</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="247">
                                    <p class="answer">
                                    1.微云手机版点击【工具】。<br/>
                                    2.点击右上角礼物图标。<br/>
                                    3.点击每日签到即可。<br/>
                                </p>
                                <p class="answer"><img src="//img.weiyun.com/vipstyle/nr/box/img/feedback/wy-qd.png"></p>
                                </div>
                            </div>
                            <div class="content">
                                <i class="icon icon-question"></i>
                                <h4 class="question">积分兑换规则</h4>
                                <div class="answer-wrap" style="height:0;opacity:0;" data-id="442">
                                    <p class="answer">
                                    微云积分兑换规则<br/>
                                    Q：多少积分才能兑换一个月微云会员？<br/>
                                    A：1000积分兑换一个月微云会员。<br/><br/>

                                    Q：积分兑换只能兑换一次还是无限次？<br/>
                                    A：只要积分足够，可以无限次数兑换。<br/><br/>

                                    Q：积分不够怎么办？<br/>
                                    A：积分不够的情况下，是不能兑换的，需要等获取足够的积分才能兑换，坚持签到即可积累更多积分。<br/><br/>

                                    Q：兑换成功后，在哪里查看是否已开通微云会员？<br/>
                                    A：兑换成功后，在微云APP“工具”页面顶部可见微云会员图标已点亮。<br/><br/>

                                    Q：兑换成功后，在哪里查看微云会员的有效期？<br/>
                                    A：兑换成功后，一般当日即可开通微云会员，在微云会员介绍页面可见会员到期日期。<br/><br/>

                                    Q：已经是微云会员的用户，又兑换了微云会员，在哪里查看？<br/>
                                    A：在微云会员介绍页面，可见微云会员到期日期延长了31天。<br/><br/>
                                </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div data-action="feedback" class="feedback-bar"><a href="###"><i class="icon icon-exclamation"></i><span>没解决？反馈我们</span></a></div>
        </div>
    </div>
    <!-- 反馈帮助 E -->
    <!-- 问题反馈 S -->
    <div data-id="problem" class="full-pop full-pop-large feedback-problem" style="display: none">
        <!--<h3 class="full-pop-header"><div class="inner">问题反馈</div></h3>-->
        <!--<a data-action="close" href="javascript:void(0)" class="full-pop-close" title="关闭">×</a>-->
        <div class="full-padding"></div>
        <div class="full-pop-content">
            <div class="problem">
                <p class="description">向我们描述一下您的问题：</p>
                <textarea class="problem-input" placeholder="例如：[516822]upload.key里的md5和数据内容对不上"></textarea>
            </div>
            <div class="contact">
                <p class="description">请留下您的联系方式（电话/邮箱）：</p>
                <input class="contact-input" type="text" placeholder="我们会尽快和您取得联系">
                <p class="tip">留下您的个人信息可以帮我们快速进行反馈，任何您的私人信息都将严格保密，不会用作其他用途。</p>
            </div>
            <div class="full-pop-btn-wrap">
                <!-- 不能点击状态加disabled -->
                <button data-action="submit" class="full-pop-btn disabled"><span class="info">填写个人信息后提交</span></button>
            </div>
        </div>
    </div>
    <!-- 问题反馈 E -->
    <!-- 提示 S -->
    <div data-id="tips" class="full-pop full-pop-small feedback-tip" style="display:none;">
        <h3 class="full-pop-header"><div class="inner">提示</div></h3>
        <a data-action="close" href="javascript:void(0)" class="full-pop-close">×</a>
        <div class="full-pop-content">
            <div class="mod-alert">
                <div class="alert-inner">
                    <i class="ico icon-success"></i>
                    <h4 class="title">提交成功，感谢您对腾讯微云的支持！</h4>
                    <p class="info">我们会尽快处理您的问题并给予反馈</p>
                </div>
            </div>
            <div data-action="close" class="full-pop-btn-wrap">
                <button class="full-pop-btn"><span class="info">确定</span></button>
            </div>
        </div>
    </div>
    <!-- 提示 E -->
</div>
<script type='text/javascript' src='img.weiyun.com/club/weiyun/js/publics/tcss/tcss.ping.js'></script>
<script src="//imgcache.qq.com/club/weiyun/js/publics/jquery/jquery-1.8.3.min.js??max_age=31104000"></script>
<script type="text/javascript">
    var platform = (function(){
        var ua = navigator.userAgent,
            query = location.search,
            platform = {};
        var OS_TYPE = {
            WINDOWS: 'Windows',
            UNIX: 'Unix',
            MAC: 'Mac'
        };

        var PID_TYPE = {
            WEB: 32,
            PC: 34
        }
        //主要针对公司几个主要客户端判断
        platform.getOs = (function(){
            var platform = navigator.platform;
            var isWin = (platform == "Win32") || (platform == "Windows");
            var isMac = (platform == "Mac68K") || (platform == "MacPPC") || (platform == "Macintosh") || (platform == "MacIntel");
            var isUnix = (platform == "X11") && !isWin && !isMac;

            if (isMac)
                return OS_TYPE.MAC;

            if (isUnix)
                return OS_TYPE.UNIX;

            return OS_TYPE.WINDOWS;
        })();

        platform.getPid = (function(){
            var from = (query && query.indexOf('pc') > -1)? 'PC' : 'WEB';
            return PID_TYPE[from];
        })();
        platform.getCientInfo = (function() {
            var pvNone = "-";
            var Browser_Name = navigator.appName;
            var Browser_Version = navigator.appVersion;
            var Browser_Version_Num = parseFloat(Browser_Version);
            var scr = pvNone
                    , scl = pvNone
                    , lang = pvNone
                    , flash = pvNone
                    , cpuc = pvNone
                    , pf = pvNone
                    , ce = pvNone
                    , tz = pvNone
                    , java = 0;
            var n = navigator;
            if (self.screen) {
                scr = screen.width + "x" + screen.height;
                scl = screen.colorDepth + "-bit";
            }
            if (n.language) {
                lang = n.language.toLowerCase();
            } else if (n.browserLanguage) {
                lang = n.browserLanguage.toLowerCase();
            }
            java = n.javaEnabled() ? 1 : 0;
            cpuc = n.cpuClass;
            pf = n.platform;
            var now = new Date();
            tz = now.getTimezoneOffset() / 60;
            var fname = (query && query.indexOf('pc') > -1)? '微云PC版' : '微云WEB版';
            return "浏览器类型:" + Browser_Name + "; 浏览器版本:" + Browser_Version + "; 语言:" + lang + "; 分辨率:" + scr + "; 色彩位数:" + scl + "; 操作系统:" + pf
                    + "; 时区:" + tz + "; JAVA版本:" + java + "; CPU类型:" + cpuc + "; " + fname + ";";
        })();

        return platform;
    })();

    var init = function() {
        var query = location.search;
        if(!query || query.indexOf('pc') === -1) {
            var $btn = $('<h3 class="full-pop-header"><div class="inner">帮助与反馈</div></h3><a data-action="close" href="javascript:void(0)" class="full-pop-close" title="关闭">×</a>')
            $('.full-padding').before($btn);
            $('.full-padding').hide();
        }
        if($.browser.msie && $.browser.version <= 8) {
            $('.answer-wrap').removeAttr('style');
        }
    }
    init();

    var getLog = function() {
        if(window.external && window.external.GetClientLog) {
            return window.external.GetClientLog();
        }
        return '';
    }
    var closeWin = function(message) {
        if($.browser.msie && $.browser.version <= 9) {
            message = JSON.stringify(message);
        }
        if(window.external && window.external.JSCloseWnd) {
            window.external.JSCloseWnd();
        } else {
            window.parent.postMessage(message, '*');
        }
    }
    function bind_events() {
        $('.question').on('click', function(e) {
            if($(this).parent().find('.answer-wrap').height() === 0) {
                var height = $(this).parent().find('.answer-wrap').attr('data-id');
                $(this).parent().find('.answer-wrap').css({"height": height,"opacity":1})
            } else {
                $(this).parent().find('.answer-wrap').css({"height":"0","opacity":0})
            }
        });
        var $container = $('#contain');
        $container.find('[data-action=close]').on('click', function() {
            closeWin({
                action: 'close'
            });
        });
        $container.find('[data-action=feedback]').on('click', function() {
            $container.find('[data-id=problem]').show();
            $container.find('[data-id=help]').hide();
        });
        $container.find('textarea').on('blur', function() {
            var text = $(this).val();
            if(text && text.length >= 8) {
                $container.find('[data-action=submit]').removeClass('disabled');
            } else {
                $container.find('[data-action=submit]').addClass('disabled');
            }
        });
        $container.find('[data-action=submit]').on('click', function() {
            if($(this).hasClass('disabled')) {
                return;
            }
            var os = '', qua = '', ex_data = '', title = '0',
                uin  =  _getCookie('uin') || _getCookie('p_uin'),
                p_id = platform.getPid,
                info = platform.getCientInfo,
                text = $('textarea').val(),
                contact = $('.contact-input').val(),
                log = getLog();
            if(log) {
                log = JSON.parse(log);
                uin = log.uin || uin;
                p_id = log.p_id || p_id;
                os = log.os || os;
                qua = log.qua || qua;
                title = log.error_msg || title;
                ex_data = JSON.stringify(log.ex_data) || ex_data;
            }
            if(uin) {
                uin = uin.replace(/^[oO0]*/, '');
            } else {
                //微信帐号或者登录态丢失会出现uin为空，这里把全部cookie和location打包过来。以便定位问题和优化上报
                uin = 4294967295;
                ex_data = ex_data + ' cookie:' + document.cookie;
            }
            var _data = {
                uin: uin,
                title: title,
                text: text + ' 手机：' + contact + ' ' + ex_data,
                qua: qua,
                os: os,
                p_id: p_id,
                model: '',
                ip: '',
                info: info
            };
            $.ajax({
                type: 'POST',
                url: location.protocol + '//www.weiyun.com/feedback',
                data: _data,
                success:function(result){
                    closeWin({
                        action: 'send_succeed'
                    });
                    $container.find('[data-id=problem]').hide();
                    $container.find('[data-id=tips]').show();
                },
                error: function (result) {
                    closeWin({
                        action: 'send_succeed'
                    });
                    $container.find('[data-id=problem]').hide();
                    $container.find('[data-id=tips]').show();
                }
            });
        });
        $container.find('[data-action=tab]').on('click', function() {
            var id = $(this).attr('data-id');
            if($(this).hasClass('on')) {
                return;
            }
            $container.find('.on').removeClass('on');
            $(this).addClass('on');
            $container.find('[data-id=content_'+ id + ']').addClass('on');
        });
    }

    var _getCookie = function(name){
        var cookieValue = '';
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = $.trim(cookies[i]);

                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    };

    bind_events();
</script>
<script type="text/javascript">
    (function(){
        if (typeof pgvMain == 'function') {
            pgvMain("", {
                tagParamName: 'WYTAG',
                virtualURL: 'feedback.html',
                virtualDomain: "www.weiyun.com"
            });
        }
    })();
</script>
</body></html>