<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="zh-cn" />
    <meta http-equiv="X-UA-Compatible" content = "IE=edge,chrome=1" />
    <meta name="author" content="Tencent-ISUX" />
    <meta name="Copyright" content="Tencent" />
    <meta name="Description" content="微云是腾讯公司为用户精心打造的一项智能云服务, 您可以通过微云方便地在手机和电脑之间,同步文件、推送照片和传输数据。">
    <meta name="Keywords" content="微云, 微云下载, 腾讯微云, 照片备份, 手机照片备份, 通讯录备份, 文件管理, 相册管理, 云相册, 微云官网网站, 微云官网, 微云网页版, weiyun, weiyun web">
    <title>功能介绍</title>
    <link rel="stylesheet" href="//imgcache.qq.com/vipstyle/nr/box/platform/wy-header.css?v13" media="screen" />
    <link rel="stylesheet" href="//imgcache.qq.com/vipstyle/nr/box/platform/function.css?v14" media="screen" />
    <style>
        body{
            background-color: #f2f2f2;
        }
        .function-video img{
            cursor: pointer;
        }
    </style>
    <script>
        window.WEIYUN_APPID = 31500;
    </script>
</head>
<body>
<div class="wrapper">
    <div class="wy-header">
        <div class="wy-mod-nav clearfix">
            <h1>
                <a href="http://www.weiyun.com">
                    <i class="icon icon-header-logo"></i>
                </a>
            </h1>
            <ul class="wy-mod-nav-main clearfix">
                <li>
                    <a href="index.html?WYTAG=weiyun.portal.function" title="微云首页">首页</a>
                </li>
                <li>
                    <a href="download.html?WYTAG=weiyun.portal.function" data-log-id="150008" title="微云下载页">下载</a>
                </li>
                <li>
                    <a href="javascript:void(0)"  class="on" data-log-id="150022" title="微云功能介绍页">功能介绍</a>
                </li>
                <li>
                    <a href="//www.weiyun.com/vip/weiyun_vip.html?from=web" data-log-id="150022" title="微云会员特权页">微云会员</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="wy-content">
        <div class="function-intro">
            <div class="function-detail-wrap">
                <div class="function-detail-a" id="function1">
                    <div class="txt-img album-txt-img">
                        <h3>相册备份</h3>
                        <p>
                            一键备份手机中的所有照片，WiFi环境下后台自动备份。可以备份5000万张手机照片，手机备份后其他终端随时浏览、分享、管理自己的照片。 
                        </p>
                    </div>
                    <div class="pic">
                        <img src="//imgcache.qq.com/vipstyle/nr/box/platform/img/images/function/album-backup.png" alt="相册备份">
                    </div>
                </div>
            </div>
            <div class="function-detail-wrap blue-detail-wrap">
                <div class="function-detail-b" id="function2">
                    <div class="txt-img contact-txt-img">
                        <h3>通讯录备份</h3>
                        <p>
                            让你的联系人永不丢失，一键备份联系人，换手机、丢手机、换号码永不发愁。 
                        </p>
                    </div>
                    <div class="pic">
                        <img src="//imgcache.qq.com/vipstyle/nr/box/platform/img/images/function/contact-backup.png" alt="通讯录备份">
                    </div>
                </div>
            </div>
            <div class="function-detail-wrap">
                    <div class="function-detail-a" id="function3">
                        <div class="txt-img file-txt-img">
                            <h3>文件管理</h3>
                            <p>
                                文件分门别类，支持全局搜索与批量操作，独有略缩图展示模式，帮助您全面掌控您的文件资源，随心所欲。
                            </p>
                        </div>
                        <div class="pic">
                            <img src="//imgcache.qq.com/vipstyle/nr/box/platform/img/images/function/file-manage.png" alt="文件管理">
                        </div>
                    </div>
                </div>
                <div class="function-detail-wrap gray-detail-wrap">
                    <div class="function-detail-b" id="function1">
                        <div class="txt-img cloud-txt-img">
                            <h3>云笔记</h3>
                            <p>
                               帮助收集和整理各种会议记录、日程安排、生活备忘、讲课笔记、地址电话等，保存的笔记可以多种设备跨平台阅读和分享。
                            </p>
                        </div>
                        <div class="pic">
                            <img src="//imgcache.qq.com/vipstyle/nr/box/platform/img/images/function/cloudynotes.png" alt="云笔记">
                        </div>
                    </div>
                </div>
                <div class="function-detail-wrap">
                    <div class="function-detail-a" id="function1">
                        <div class="txt-img clip-txt-img">
                            <h3>剪贴板</h3>
                            <p>
                                一段文字、网址链接、电话地址，手机复制、电脑粘贴；电脑复制，手机粘贴
                            </p>
                        </div>
                        <div class="pic">
                            <img src="//imgcache.qq.com/vipstyle/nr/box/platform/img/images/function/clipboard.png" alt="剪贴板">
                        </div>
                    </div>
                </div>
                <div class="function-detail-wrap blue-detail-wrap">
                    <div class="function-detail-b" id="function1">
                        <div class="txt-img trash-txt-img">
                            <h3>回收站</h3>
                            <p>
                                您能在回收站找回过去最多45天您删除的文件，不用担心不小心误删找不回来了。
                            </p>
                        </div>
                        <div class="pic">
                            <img src="//imgcache.qq.com/vipstyle/nr/box/platform/img/images/function/trash.png" alt="回收站">
                        </div>
                    </div>
                </div>
                <div class="function-detail-wrap">
                    <div class="function-detail-a" id="function1">
                        <div class="txt-img collect-txt-img">
                            <h3>收藏夹</h3>
                            <p>
                                收藏喜欢和重要的文件。 
                            </p>
                        </div>
                        <div class="pic">
                            <img src="//imgcache.qq.com/vipstyle/nr/box/platform/img/images/function/collect.png" alt="回收站">
                        </div>
                    </div>
                </div>
        </div>
        <div class="wy-footer">
            <div class="footer-cont">
                <div class="logo"><a href="//www.weiyun.com/"><img src="//imgcache.qq.com/vipstyle/nr/box/home/img/logo2.png" alt="腾讯云"></a></div>
                <div class="copyright">
                    <div class="friend-href">
                        <p>
                            <a href="http://z.qzone.com/" title="QQ空间手机版">QQ空间手机版</a> |
                            <a href="http://huabao.qzone.qq.com/" title="画报">画报</a> |
                            <a href="http://y.qq.com/" title="QQ音乐">QQ音乐</a> |
                            <a href="http://www.qcloud.com/" title="腾讯云">腾讯云</a> |
                            <a href="http://fm.qq.com/" title="企鹅FM">企鹅FM</a> |
                            <a href="http://ke.qq.com?from=102" title="腾讯课堂">腾讯课堂</a>
                        </p>
                    </div>
                    <p><a href="http://www.tencent.com/" target="_blank">关于腾讯</a> | <a href="http://www.weiyun.com/xy.html" target="_blank">服务条款</a> | <a href="http://kf.qq.com/" target="_blank">客服中心</a> | 粤B2-20090059-86号</p>
                    <p>版权声明：您应尊重相关作品著作权人合法权益，未经著作权人合法授权，不能违法上传、存储、分享他人作品</p>
                    <p> <a href="http://www.weiyun.com/complaint.html" target="_blank"> 侵权投诉指引</a> | 举报或投诉：<a class="email" href="mailto:notice-b2@tencent.com"> notice-b2@tencent.com</a></p>
                    <p>Copyright © 1998 - <span id="this_year">2015</span> Tencent. All Rights Reserved. 腾讯公司 版权所有</p>
                </div>
                <div class="mod-select-lan" style="display:none;">
                    <a href="#">中文</a> / <a href="#">English</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wy-mod-fixed">
        <a href="#" class="fixed-top"><span>返回顶部</span></a>
        <a href="http://kf.qq.com/product/weiyun.html?WYTAG=weiyun.portal.download" target="_blank" class="fixed-faq">
            <span class="faq-english">FAQ</span>
            <span>查看帮助</span>
        </a>
    </div>
</div>
<script type="text/javascript" src="//imgcache.qq.com/c/=/club/weiyun/js/publics/jquery/jquery-1.8.3.min.js,/club/weiyun/js/common/special_log.js,/club/weiyun/js/pages/log.js"></script>
<script src="//imgcache.gtimg.cn/tencentvideo_v1/tvp/js/tvp.player_v2_jq.js"></script>
<script type="text/javascript">
    $(function(){

        $("#page-nav a").click(function(){
            var href=$(this).attr("href");
            var top=$(href).offset().top;
            $(this).blur();
            $("body,html").animate({scrollTop:top},500);
            return false;
        })

        // 功能介绍随鼠标滚动的动画
        // var pos=[850,1200,1550,1900,2250,2600/*,2950*/];
        var pos=[850,969,1278,1587,2250,2600,2950];
        var windowHeight=window.innerHeight;
        var checkPos=[];
        for(var i=0;i<pos.length;i++){
            checkPos[i]=pos[i]-windowHeight; // HACK
        }
        var checkEl=document.querySelectorAll&&document.querySelectorAll(".function-detail-a,.function-detail-b")
        checkTop();
        window.onscroll=function(){
            checkTop();
        }
        window.onresize=function(){
            windowHeight=window.innerHeight;
            for(var i=0;i<pos.length;i++){
                checkPos[i]=pos[i]-windowHeight;
            }
            checkTop();
        }
        function checkTop(){
            var scrollTop=document.body.scrollTop||document.documentElement.scrollTop;
            for(var i=0;i<checkPos.length;i++){
                if(scrollTop>checkPos[i]){
                    checkEl[i].classList&&checkEl[i].classList.add("show");
                }
            }
        }

        function set_full_year() {
            var year = 2015,
                    $this_year = $('#this_year');
            if(new Date().getFullYear() > year) {
                year = new Date().getFullYear();
                $this_year.text(year);
            }
        }
        set_full_year();
    });

    $('#video img').on('click', function(){
        var video = new tvp.VideoInfo();
        video.setVid("k0126mgydl5");
        var player =new tvp.Player();
        player.create({
            width:"100%",
            height:540,
            video:video,
            modId:"video",
            pic : '//imgcache.qq.com/vipstyle/nr/box/home/pic/video.jpg',
            //vodFlashSkin:"http://imgcache.qq.com/minivideo_v1/vd/res/skins/TencentPlayerMiniSkin.swf",
            autoplay : true,
            adplay : false,
            isVodFlashShowCfg:0,
            isVodFlashShowSearchBar:0,
            isVodFlashShowEnd:0,
            autoplay:1,
            controls:0
        });
    });
</script>
<script type='text/javascript' src='//img.weiyun.com/club/weiyun/js/publics/tcss/tcss.ping.js'></script>
<script type="text/javascript">
    (function(){
        if (typeof pgvMain == 'function') {
            pgvMain("", {
                tagParamName: 'WYTAG',
                virtualURL: 'function.html',
                virtualDomain: "www.weiyun.com"
            });
        }
    })();
</script>
</body>
</html>