<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>帮助 - 微云</title>
<meta name="Keywords" content="QQ, 腾讯,微云, 分享, 网盘, 网络硬盘, U盘, 云存储, 传输, 存储, 同步, 备份, 拍照, 上传, 下载, 中转, 文件, 照片, 相册, 离线, 传文件, wifi, cloud" />
<meta name="Description" content="微云是腾讯公司为用户精心打造的一项智能云服务, 您可以通过微云方便地在手机和电脑之间,同步文件、推送照片和传输数据。" />
<link rel="stylesheet" href="//imgcache.qq.com/vipstyle/nr/box/new_portal/css/base.css" />
<link rel="stylesheet" href="//imgcache.qq.com/vipstyle/nr/box/new_portal/css/help.css" />
<script type="text/javascript" language="javascript" src="//imgcache.qq.com/club/qqdisk/web/js/wy_nav.js"></script>
</head>
<body>

<div class="header">
	<div class="header-cnt">
		<h1><a class="logo" href="//www.weiyun.com/index.html?WYTAG=portal.help.logo"><span>微云 www.weiyun.com</span></a></h1>
		<div class="nav">
			<ul>
				<li><a href="//www.weiyun.com/index.html?WYTAG=portal.help.index">首页</a> <span>|</span></li>
				<li><a href="//www.weiyun.com/download.html?WYTAG=portal.help.download">下载</a> <span>|</span></li>
				<li><a class="current" href="//kf.qq.com/product/weiyun.html?WYTAG=weiyun.portal.help.help" target="_blank">帮助</a> <span>|</span></li>
            	<li><a href="//www.weiyun.com/indep-login.html?from=http%3A%2F%2Fwww.weiyun.com%2Fweb%2Findex.html" target="_blank">网页版</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="layout-page weiyun-help">
	<div class="layout-group">
		<div class="layout-210-10">

			<div class="side-cnt">
				<div class="shadow"></div>
				<ul class="weiyun-help-menu">
					<li class="current"><a hidefoucs="true" href="#mobClient" onclick="switchTag('mobClient',this);return false;">手机端</a></li>
					<li><a hidefoucs="true" href="#pcClient" onclick="switchTag('pcClient',this);return false;">PC端</a></li>
					<li><a hidefoucs="true" href="#webClient" onclick="switchTag('webClient',this);return false;">Web端</a></li>
				</ul>
			</div><!-- .side-cnt -->

		</div>
		<div class="layout-730">
			<!-- 内容 -->

				<div class="weiyun-help-cnt" id="mobClient" style="display:">
					<ul class="quick_link">
						<li><a href="#" rel="1">1.如何上传文件</a></li>
						<li><a href="#" rel="8">8.手机中的哪些照片会上传到微云相册中</a></li>
						<li><a href="#" rel="2">2.上传中的任务如何管理</a></li>
						<li><a href="#" rel="9">9.断开连接后会删除之前收录的照片吗</a></li>
						<li><a href="#" rel="3">3.没有网络的时候如何查看网盘里的文件</a></li>
						<li><a href="#" rel="10">10.微云传输是如何发现设备的</a></li>
						<li><a href="#" rel="4">4.微云网盘中的文件可以分享给好友吗</a></li>
						<li><a href="#" rel="11">11.如何使用手机微云传输发送文件</a></li>
						<li><a href="#" rel="5">5.微云相册是如何自动推送照片的</a></li>
						<li><a href="#" rel="12">12.如何接收别人发给我的文件</a></li>
						<li><a href="#" rel="6">6.微云相册上传时会产生流量吗</a></li>
						<li><a href="#" rel="13">13.通过微云传输接收到的文件可以做什么</a></li>
						<li><a href="#" rel="7">7.照片的状态</a></li>
						<li><a href="#" rel="14">14.通过微云剪贴板可以做什么</a></li>
					</ul>
					<div class="answer" style="margin-top:0px;">
					  <div class="help_item">
						<h3>1.	如何上传文件</h3>
						<p>a)	点击底部的“上传”按钮</p>
						<p>b)	选择一张或多张照片</p>
						<p>c)	点击“确定”</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/disk_01.png"/>
					  </div>
						<div class="help_item">
						<h3>2.	上传中的任务如何管理</h3>
						<p>a)	当您点击“确定”后，顶部会出现一个“进度条”，显示当前文件的上传进度</p>
						<p>b)	这时候，如有需要，您可以暂停正在上传中的文件，以后再重新上传；</p>
						<p>c)	您也可以点击底部的“上传管理”按钮，查看等待上传的文件队列，并对队列里的文件进行查看、删除等操作</p>
						<p>d)	当上传队列中所有的文件都已经完成上传，进度条将会消失；这时候您可以到“上传管理”里面查看历史纪录</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/disk_02.png"/>
						</div>
						<div class="help_item">
						<h3>3.	没有网络的时候如何查看网盘里的文件</h3>
						<p>当您曾经点击某一个文件进行在线阅读，该文件就会被下载到本地，以后您即使在离线状态下也可以阅读了</p>
						<p>a)	您也可以把任何文件设为离线可读：在右侧的下拉菜单中选择“离线可读”，文件就会从云端下载下来，可以随时离线阅读了</p>
						<p>b)	可以进行离线阅读的文件都会有这样的标识(<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/disk_download.png"/>)</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/disk_03.png"/><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/disk_03.1.png"/>
						</div>
						<div class="help_item">
						<h3>4.	微云网盘中的文件可以分享给好友吗</h3>
						<p>a)	如果您想把某一个文件分享给好友，可以在该文件右侧的下拉菜单中选择“分享”</p>
						<p>b)	微云网盘会自动替该文件生成一个网页链接</p>
						<p>c)	您可以选择用邮件、短信或者其他手机应用（比如微博、微信和QQ等)把网页链接发送给好友</p>
						<p>d)	您的好友可以直接使用电脑或手机的浏览器打开链接，即可下载该文件</p>
						</div>
						<div class="help_item">
						<h3>5.	微云相册是如何自动推送照片的</h3>
						<p>a)	开启微云相册后，手机上拍的照片会在wifi网络下自动上传到云端</p>
						<p>b)	到达云端后，照片会在wifi网络下自动下载到您的其他设备上,完成推送过程</p>
						</div>
						<div class="help_item">
							<h3>6.	微云相册上传时会产生流量吗</h3>
							<p>微云相册只会在wifi环境下传输数据，您不用担心耗费流量</p>
						</div>
						<div class="help_item">
							<h3>7.	照片的状态</h3>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/ps_wait_upload.png"/> 正在上传（或等待上传）的照片</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/ps_count.png"/> 已经完成推送的照片，并代表照片来源设备</p>
						</div>
						<div class="help_item">
							<h3>8.	手机中的哪些照片会上传到微云相册中</h3>
							<p>默认为您开启手动模式，您自己手动挑选照片，添加到微云相册</p>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/ps_02.png"/>
							<p>您也可以在设置中修改为自动模式，微云相册会自动收录下列目录中的照片：</p>
							<p>iPhone / iPad上的“相机胶卷”</p>
							<p>Android设备上的“/sdcard/DCIM/”</p>
						</div>
						<div class="help_item">
							<h3>9.	断开连接后会删除之前收录的照片吗</h3>
							<p>断开连接后，微云相册就会停止推送来自这台设备的照片，并删除已经下载到该设备的照片，但不会删除您SD卡上的照片</p>
							<p>如果您想再次获得微云相册中的照片，可以重新连接，微云相册会把云端的照片重新下载下来，并重新开始收录新拍的照片</p>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/ps_03.png"/>
						</div>
						<div class="help_item">
							<h3>10.	微云传输是如何发现设备的</h3>
							<p>您每次进入微云传输时， 微云将自动搜索在同一个wifi热点下已经安装了微云的设备</p>
						</div>
						<div class="help_item">
							<h3>11.	如何使用手机微云传输发送文件</h3>
							<p>a)	点击设备名称</p>
							<p>b)	从本机相册或发送和接收的历史记录中选择文件</p>
							<p>c)	将滑块向上移动，即可把文件发送给目标设备。</p>
							<p>d)	把滑块向下移动，即可中止发送。</p>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/wifi_01.png"/>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/wifi_02.png"/><br />
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/wifi_03.png"/>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/wifi_04.png"/>
						</div>
						<div class="help_item">
							<h3>12.	如何接收别人发给我的文件</h3>
							<p>有新文件等待接收时，会有提示音</p>
							<p>a)	将滑块向上移动，即可接收文件</p>
							<p>b)	将滑块向下移动，即可终止</p>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/wifi_05.png"/>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/wifi_06.png"/>
						</div>
						<div class="help_item">
							<h3>13.	通过微云传输接收到的文件可以做什么</h3>
							<p>a)	存到网盘： 您可以把文件存到微云网盘中。</p>
							<p>b)	另存为： 您可以把照片存到本机相册</p>
							<p>c)	分享： 您可以通过其他应用分享此文件</p>
							<p>d)	删除： 您可以删除此文件</p>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/wifi_08.png"/>
						</div>
						<div class="help_item">
							<h3>14.	通过微云剪贴板可以做什么</h3>
							<p>微云剪贴板是一个便捷工具。通过它，您可以在手机上复制，在电脑上粘贴；您也可以在电脑上复制，在手机上粘贴。</p>
							<p>比如：</p>
							<p>a) 从手机上复制网站地址，用电脑的浏览器打开。</p>
							<p>b) 从电脑上复制电话号码，在手机上拨打。</p>
							<p>1、在手机上复制，在电脑上粘贴；</p>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/phone15-1.png"/>
							<p>手机上：复制一段文字，然后进到微云点击“<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/phone15-3.png"/>”</p>
							<p>电脑上：使用Ctrl +V粘贴</p>
							<p>2.  在电脑上复制，在手机上粘贴：</p>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/mb/phone15-2.png"/>
							<p>电脑上：使用Ctrl+C复制一段文字，然后再按Ctrl+D</p>
							<p>手机上：打开微云，看到该段文字已抵达，就可以把它粘贴出去了</p>

						</div>

					</div>
				</div>

				<div class="weiyun-help-cnt" id="pcClient" style="display:none;">
					<ul class="quick_link">
						<li><a href="#" rel="1">1.		如何进入微云</a></li>
						<li><a href="#" rel="11">11.	如何查看微云相册的动态信息</a></li>
						<li><a href="#" rel="2">2.		微云网盘是如何同步的</a></li>
						<li><a href="#" rel="12">12.	微云传输是如何发现附近设备的</a></li>
						<li><a href="#" rel="3">3.		同步中的状态</a></li>
						<li><a href="#" rel="13">13.	如何发送文件给附近的设备</a></li>
						<li><a href="#" rel="4">4.		如何了解网盘容量和动态信息</a></li>
						<li><a href="#" rel="14">14.	如何知道别人给我发送了文件</a></li>
						<li><a href="#" rel="5">5.		选择性同步</a></li>
						<li><a href="#" rel="15">15.	发送文件大小有限制吗</a></li>
						<li><a href="#" rel="6">6.		重新同步</a></li>
						<li><a href="#" rel="16">16.	接收到的文件保存在哪里</a></li>
						<li><a href="#" rel="7">7.		微云网盘单文件限制</a></li>
						<li><a href="#" rel="17">17.	如何查看/清空收发记录</a></li>
						<li><a href="#" rel="8">8.		微云相册如何自动汇集照片</a></li>
						<li><a href="#" rel="18">18.	如何使用微云剪贴板</a></li>
						<li><a href="#" rel="9">9.		上传文件夹中的所有内容都可以上传到云端吗</a></li>
						<li><a href="#" rel="19">19.	可以用微云剪贴板复制粘贴哪些内容</a></li>
						<li><a href="#" rel="10">10.	微云相册可以保存多少张照片</a></li>
					 </ul>
					<div class="answer" style="margin-top:0px;">
					  <div class="help_item">
						<h3>1.如何进入微云</h3>
						<p>您可以通过桌面快捷方式、开始菜单、托盘图标等处打开微云</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/1.jpg"/>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/2.jpg"/>
					  </div>
					  <div class="help_item">
						<h3>2.	微云网盘是如何同步的</h3>
						<p>a) 登陆后，微云会创建一个微云网盘同步文件夹，移动文件/文件夹到该文件夹下</p>
						<p>D:/微云网盘/******</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/3.png"/>
						<p> </p>
						<p>b) 文件的左下角将会出现一个正在同步的图标</p>
						<p> </p>
						<p>c) 同步成功后，状态图标变为对号，同步完成</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/4.png"/>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/5.png"/>
						<p>文件/文件夹已成功放入您的微云网盘，离线时微云网盘的文件也是可以使用的，当再次连接到网络时微云可以自动将更新的文件进行同步。</p></div>
						<div class="help_item">
						<h3>3.	同步中的状态</h3>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/6.jpg"/>
						 <p>文件已完成同步</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/7.jpg"/>
						 <p>文件在同步中或即将被同步，请等待完成</p>
						<p>当文件未标记说明该文件没有设置为同步文件，您可以正常编辑，但更新的内容将不能自动同步。</p>
						</div>
						<div class="help_item">
						<h3>4.	如何了解网盘容量和动态信息</h3>
						<p>在微云主界面，微云网盘模块可以看到当前网盘的已使用容量信息，以及当前正在进行的同步信息</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/8.jpg"/>
						</div>
						<div class="help_item">
						<h3>5.	选择性同步</h3>
						<p>当您并不想同步微云网盘中的大文件或部分文件时，您可以在设置中自由选择同步的目录</p>
						<p>a）设置--->微云网盘--->高级设置选择性同步</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/9.jpg"/>
						<p>b）将不想不同的目录前的勾去掉，云端将不会再同步该目录下的文件更新</p>
						</div>
						<div class="help_item">
						<h3>6.	重新同步</h3>
						<p>当您同步不成功，并且弹出的提示也无法帮助您解决时，您可以尝试“重新同步”</p>
						<p>a）设置--->微云网盘--->高级设置重新同步</p>
						<p>b）选择重新同步后不会删除您的文件，但将清空微云网盘的本地缓存，重新与云端进行一次文件更新，耗时根据您网盘内文件的数量和大小而不同</p>
						</div>
						<div class="help_item">
						<h3>7.	微云网盘单文件限制</h3>
						<p>只要安装微云客户端即可上传相当于总空间大小的文件，同步2G以内的单文件。</p>
						</div>
						<div class="help_item">
						<h3>8.	微云相册如何自动汇集照片</h3>
						<p>a)	微云默认在您电脑中库的“图片”位置创建微云相册文件夹，该文件夹中有“上传”和“相册”两个文件夹</p>
						<p>b)	“上传”文件夹中的图片将自动被推送到云端，如果您同时开启手机端微云相册，可以在手机微云相册中看到pc端的照片</p>
						<p>c)	“相册”文件夹汇集您各个设备中的照片，如果您同时开启手机端微云相册，手机微云相册的照片也会出现在这里</p>
						</div>
						<div class="help_item">
						<h3>9.	上传文件夹中的所有内容都可以上传到云端吗</h3>
						<p>只有图片（psd、png、jpg、bmp等）才可以上传到云端并推送到其他客户端，其他非图片格式的文件不会。</p>
						</div>
						<div class="help_item">
						<h3>10.	微云相册可以保存多少张照片</h3>
						<p>微云相册在不同设备中保存照片的规则如下：</p>
						<table class="common-table">
							<thead><tr><th>设备</th><th>保存数量</th><th>保存时间</th></tr></thead>
							<tr><td>云端</td><td>最新1000张</td><td>无限</td></tr>
							<tr><td>PC</td><td>无限</td><td>无限</td></tr>
							<tr><td>手机/平板电脑</td><td>最新1000张</td><td>无限</td></tr>
						</table>
						</div>
						<div class="help_item">
						<h3>11.	如何查看微云相册的动态信息</h3>
						<p>在微云主界面，微云相册模块显示了本地相册文件夹的照片数量，当有更新时会有绿色动态信息提示</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/13.png"/>
						</div>
						<div class="help_item">
						<h3>12.	微云传输是如何发现附近设备的</h3>
						<p>启动微云后，微云将自动搜索同一个局域网下安装了微云的设备。</p>
						</div>
						<div class="help_item">
						<h3>13.	如何发送文件给附近的设备</h3>
						<p>在传输界面，您可以直接将文件拖动给接收的设备，也可以选中设备后通过“发送”选择文件。</p>
						</div>
						<div class="help_item">
						<h3>14.	如何知道别人给我发送了文件</h3>
						<p>当有了新的接收任务时，系统托盘右下角的传输小图标会闪烁，同时微云主界面微云传输模块也将有绿色动态信息提示</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/11.png"/><br />
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/12.png"/>
						</div>
						<div class="help_item">
						<h3>15.	发送文件大小有限制吗</h3>
						<p>用PC端发送文件大小没有限制，每次最多发送10个文件</p>
						</div>
						<div class="help_item">
						<h3>16.	接收到的文件保存在哪里</h3>
						<p>默认保存在“微云传输”文件夹中。</p>
						<p>windows XP系统中，创建在“我的文档”下；</p>
						<p>windows 7及vista系统中，创建在“库—文档”下。</p>
						</div>
						<div class="help_item">
						<h3>17.	如何查看/清空收发记录</h3>
						<p>在微云传输主界面，点击最近文件可以查看收发记录。点击右侧   图标可以清空收发记录</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/10.jpg"/>
						</div>
						<div class="help_item">
						<h3>18.	如何使用微云剪贴板</h3>
						<p>微云1.2版本新增剪贴板功能，只要登录同一账号，您就可以将电脑上复制的内容粘贴在手机上了。</p>
						<p>a)	运行微云，复制一段文字内容</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/18a.jpg"/>
						<p>b)	复制后同时按快捷键Ctrl+D，文字内容即可发送到同一账号的其他设备</p>
						<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/pc/18b.jpg"/>
						</div>
						<div class="help_item">
						<h3>19.	可以用微云剪贴板复制粘贴哪些内容</h3>
						<p>目前微云剪贴板支持10000字以内的文字内容。</p>
						</div>
					</div>
				</div><!-- weiyun-help-cnt end -->

				<div class="weiyun-help-cnt" id="webClient" style="display:none">
					<ul class="quick_link">
						<li><a href="#" rel="1">1.开始使用微云web端</a></li>
						<li><a href="#" rel="3">3.微云相册</a></li>
						<li><a href="#" rel="2">2.微云网盘</a></li>
					</ul>
					<div class="answer" style="margin-top:0px;">
						<div class="help_item">
							<h3>1、开始使用微云web端</h3>
							<p> 微云web版只需要浏览器支持，方便您随时随地都能享受到微云的服务。</p>
							<p>web版包括微云网盘和微云相册两个模块，推荐通过以下方式进入：</p>
							<p>- 在浏览器上直接输入域名：//www.weiyun.com/</p>
							<p>- 搜索“腾讯微云”关键字</p>
						</div>
						<div class="help_item">
							<h3>2、微云网盘</h3>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u62_normal.png" align="middle"/>
							<p></p>
                            <p><b>A.菜单栏</b></p>
                            <p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u18_normal.png" align="middle"/>选择本地的文件，上传到云端</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u20_normal.png" align="middle"/>在云端新创建文件夹</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u22_normal.png" align="middle"/>刷新文件列表</p>
                            <p><b>B.快捷操作栏：（鼠标移动到照片上时浮现）</b></p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u6_normal.png" align="middle"/>下载：点击后，将下载该文件</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u12_normal.png" align="middle"/>外链：生成一个唯一的链接，您的好友获得该链接后，可下载到这个文件</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u8_normal.png" align="middle"/>修改该文件的名称</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u10_normal.png" align="middle"/>删除本文件</p>
						</div>

						<div class="help_item">
							<h3>3、微云相册</h3>
							<img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u64_normal.png"/>
							<p></p>
							<p><b>A.菜单栏</b></p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u18_normal.png" align="middle"/>选择本地的照片，上传到云端，并推送到其他安装了微云的设备</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u43_normal.png" align="middle"/>批量选择并下载照片（通过QQ旋风下载）</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u22_normal.png" align="middle"/>重新加载照片列表</p>
							<p><b>B.快捷操作栏：（鼠标移动到照片上时浮现）</b></p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u6_normal.png" align="middle"/>下载本照片</p>
							<p><img src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u10_normal.png" align="middle"/>删除本照片</p>
							<p></p>
							<p><b>C.浏览照片</b></p>
							<p>点击任意一张照片后，进入照片浏览模式</p>
							<img width="640" src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u47_normal.jpg" align="middle"/>
							<p>- 支持通过键盘上“←”和“→”，浏览上一张和下一张</p>
							<p></p>
							<p><b>D.批量下载照片</b></p>
							<p>- 点击“旋风批量下载按钮”</p>
							<img width="640" src="//imgcache.qq.com/vipstyle/nr/box/portal/demoImg/web/u52_normal.png" align="middle"/>
							<p>- 勾选您需要下载的照片</p>
							<p>- 选好照片后，再次点击即启动 QQ旋风，批量下载这批图片</p>
							<p>注意：</p>
							<p><i>- 旋风批量下载，需要您的电脑上安装QQ旋风软件。</i></p>
						</div>

					</div>

				</div><!-- weiyun-help-cnt end -->

				<!-- /内容 -->
		</div>
	</div>
</div>

<div id="footer" class="footer"></div>

<script type="text/javascript" language="javascript" src="//imgcache.qq.com/club/qqdisk/web/js/jquery-1.6.4.js"></script>
<script>
write_footer("footer");
function getQuery(key) {
	var currHref = location.href;
	var sValue = currHref.match(new RegExp("[\?&]" + key + "=([^&]*)(&?)", "i"));
	return sValue && String(sValue[1]) || '';
};
var hash=getQuery("cat");
var q=getQuery("q");
var needToTurn=!(hash.length<=0 || hash.length == "" || q.length<=0 || q.length == "")
if (needToTurn)
{
    var _liObj = $(".weiyun-help-menu li");
    jQuery.each(_liObj,function(){
        this.className="";
    });
	jQuery(".weiyun-help-menu").children("li").eq(hash-1).addClass("current");
	jQuery(".weiyun-help-cnt").css("display","none");
    jQuery(".weiyun-help-cnt").eq(hash-1).css("display","");

	var answer = jQuery(".weiyun-help-cnt").eq(hash-1).children(".answer");
    var off = answer.children(".help_item").eq(q-1).offset().top -
				 answer.children(".help_item").eq(0).offset().top;
    answer.animate({marginTop:-off},500);

};

function switchTag(id,evt){
    var _liObj = jQuery(".weiyun-help-menu li");
    jQuery.each(_liObj,function(){
        this.className="";
    });
    evt.parentNode.className = "current";
    jQuery(".weiyun-help-cnt").css("display","none");
    jQuery("#"+id).css("display","");
}

var tabCont = jQuery(".weiyun-help-cnt");
jQuery.each(tabCont,function(){
     var guide = jQuery(this).children(".quick_link");
	 var answer = jQuery(this).children(".answer");
     guide.children("li").each(function(){
			jQuery(this).click(function(){
                 var k = jQuery(this).children("a").attr("rel")-1;
				 var off = answer.children(".help_item").eq(k).offset().top -
				 answer.children(".help_item").eq(0).offset().top;
                 answer.animate({marginTop:-off},500);
			})
		})
    });
</script>
<script type="text/javascript" src="//imgcache.qq.com/club/qqdisk/web/js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="//imgcache.qq.com/club/qqdisk/web/js/lib/sea.js"></script>
<script type="text/javascript" src="//imgcache.qq.com/club/qqdisk/web/js/qqviplib_2.0.0.js"></script>
<script type="text/javascript" src="//imgcache.qq.com/club/qqdisk/web/js/qqdisk_web_common_wy.js"></script>
<script type='text/javascript' src='//img.weiyun.com/club/weiyun/js/publics/tcss/tcss.ping.js'></script>
<script>
WEIYUN_WEB.Utils.killFocus();
(function() {
    if (typeof pgvMain == 'function') {
        pgvMain("", {
        	tagParamName: 'WYTAG',
            virtualURL: 'help.html',
            virtualDomain: "www.weiyun.com"
        });
    }
})();
</script>
</body>
</html>
