<script id="note_list" type="text/html" nowith="yes">
    <div id="_note_body" data-label-for-aria="笔记区域" class="note-body ui-view-empty" style="height:100%">
        <div id="_note_view_list" class="note-list" style="display:none height:100%">
            <!-- 文件列表 -->
            <dl id="_note_files">
            </dl>
            <a href="javascript:void(0)" class="note-load-more" style="display:none;" id="note_load_more"><i class="icon-loading"></i></a>
        </div>
        <div class="note-editor" id="_note_editor">
            <!--编辑器区域-->
        </div>
    </div>
</script>
<script id="note_edit_frame" type="text/html" nowith="yes">
    <%
        var constants = require('common').get('./constants');

    %>
    <iframe frameborder="0" id="_note_edit_frame" name="_note_edit_frame" src="<%=constants.HTTP_PROTOCOL%>//www.weiyun.com/note_web/main.html" width="100%"/>
</script>
<script id="note_article_frame" type="text/html" nowith="yes">
    <iframe frameborder="0" id="_note_article_frame" name="_note_article_frame" src="" width="100%" height="98%" style="display:none"/>
</script>


<!--
 单个文档文件项
 @author: yuyanghe
 @date: 2014-9-18
-->
<script id="note_item" type="text/html" nowith="yes">
    <%
    var lib = require('lib'),
        common = require('common'),
        date_time=lib.get('./date_time'),
        text = lib.get('./text'),
        https_tool = common.get('./util.https_tool'),
        records = data,
        me = this,
        today = date_time.today().getTime(),
        yesterday = date_time.yesterday().getTime(),
        last7day = date_time.add_days(-7).getTime(),
        last_bar=5;
    %>
    <%
    $.each(records || [], function(i, file) {
    var note_name = file.get_name();
    var thumb_url= file.get_thumb_url();
    var has_img = thumb_url && thumb_url != "";
    var save_status = file.get_save_status();
    var is_selected = file.get("selected");
    var is_new_note = file.get_id() ==="";
    %>
    <%
    if( (i == 0 || last_bar < file.get_day_bar() )&& save_status == ""){
    last_bar = file.get_day_bar();
    %>
    <%= me.bar(last_bar) %>
    <%
    }
    %>
    <dd data-record-id="<%=file.id%>" data-file-id data-list="file" class="<%=is_selected ? 'ui-selected':''%>">
        <%
        if(save_status =="note_saved"){
        %>
        <div class="icon-update-done"></div>
        <%
        }else if(save_status =="note_ing"){
        %>
        <div class="icon-update-ing"></div>
        <%
        }
        %>
        <div class="note-list-item <%= has_img ? 'note-list-item-has-img':''%> <%= is_new_note ? 'note-list-item-new':''%>"
             tabindex="0"
             style="height:50px">
            <!-- bugfix:
                1、复制粘贴图片or移动端上传笔记图片web端查看的时候，URL加载是外站的http链接，查看会有问题。只有自动保存后才正常；所以都需要加h5域名代理
                2、IOS全面迁移https后，由后台来下发这类代理后的url，前端需要判断，没有带的才需要加
            -->
            <%
                var note_name_len=28;
                if(has_img){
                    note_name_len=20;
                    thumb_url = https_tool.translate_notepic_url(thumb_url);
            %>
            <img src="<%=thumb_url%>"/>
            <%
                }
            %>
            <em><%=text.text(text.smart_sub(note_name,note_name_len,"..."))%></em>

            <p><%=date_time.timestamp2date_ymdhm(file.get_mtime() || new Date())%></p>
        </div>
    </dd>
    <%
    });
    %>
</script>

<script id="view_empty" type="text/html" nowidth="yes">
    <div class="g-empty sort-note-empty j-note-empty" style="display: none;">
        <div class="empty-box" tabindex="0">
            <div class="ico"></div>
            <p data-id="title" class="title">暂无笔记</p>

            <p data-id="content" class="content">您可以通过“新建笔记”进行添加</p>
        </div>
    </div>
</script>

<script id="load_more" type="text/html" nowith="yes">
    <a href="javascript:void(0)" class="load-more" style="display:none;"><i class="icon-loading"></i>正在加载</a>
</script>

<script id="bar" type="text/html" nowith="yes">
    <dt><%=( data===1?'今天':( data===2?'昨天':( data ===3?'最近7天':'7天前' ) ) )%></dt>
</script>

<script id="note_remark" type="text/html" nowith="yes">
    <div class="full-pop-content">
        <div class="mod-dirbox">
            <textarea class="note-remark-textarea" id="_note_remark_comment_textarea"></textarea>
        </div>
    </div>
</script>

<script id="note_upload_pic_mask" type="text/html" nowith="yes">
    <div class="full-pop full-pop-medium" style="width:400px;left:550px;top:400px;margin-left: 0;margin-top: 0;">
        <h3 class="full-pop-header"><div class="inner">上传照片</div></h3>
        <div class="full-pop-content">
            <div class="mod-note mod-note-loading">
                <div class="header">
                    <i class="ico"></i>
                    <h3 class="title">正在上传...</h3>
                </div>
            </div>
        </div>
        <a href="#" class="full-pop-close" title="关闭" id="note_upload_pic_mask_close">×</a>
    </div>
</script>

