<!--
 剪贴板tabview内容区
 @author hibincheng
 @date 2014-01-17
-->
<script id="tab_view" type="text/html" no-width="yes">
    <div data-id="tab_body"></div>
</script>
<!--
剪贴板tabview bar
@author hibincheng
@date 2014-01-17
-->
<script id="tab_bar" type="text/html" no-width="yes">
    <%
        var $ = require('$'),
            common = require('common'),
            scr_reader_mode = common.get('./scr_reader_mode'),
            read_mode = scr_reader_mode.is_enable(),  //读屏模式
            items = data.items;
    %>
    <div class="clip-tab-wrap">
        <div data-id="tab_bar" class="clip-tab">
            <div class="clip-tabbar">
                <ul>
                <%
                    $.each(items, function(i, item) {
                %>
                    <li data-bar data-index=<%=i%> class="<%=item.cls%>  <%=item.active ? 'tab-act': ''%>"><a href="#" tabindex="0" <% if(read_mode) { %>title="<%=item.title%>内容区" <% } %> ><%=item.title%></a></li>
                <%
                    });
                %>
                </ul>
            </div>
        </div>
    </div>
</script>