<script id="baseHeader" type="text/html" nowith="yes">
    <!DOCTYPE html>
    <%
    var serv_taken = new Date() - window.serv_start_time;
    var APPID = require('weiyun/util/appid')();
    var serverConfig = plug('config') || {};
    var is_test_env = !!serverConfig.isTest;
    %>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>活动</title>
        <meta http-equiv="Content-Language" content="zh-cn">
        <meta name="author" content="Tencent-ISUX">
        <meta name="Copyright" content="Tencent">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no,email=no" />
	    <meta itemprop="name" content="腾讯微云" />
	    <meta itemprop="description" content="微云是腾讯公司为用户精心打造的一项智能云服务, 您可以通过微云方便地在手机和电脑之间,同步文件、推送照片和传输数据。" />
	    <meta itemprop="image" content="https://img.weiyun.com/vipstyle/nr/box/img/logo/96x96.png" />
        <script>var IS_TEST_ENV = <%=is_test_env%>;window.APPID = <%=APPID%>;window.g_serv_taken = <%=serv_taken%>;window.g_start_time = +new Date();</script>
        <%=require('weiyun/util/inline').css(['g-reset', 'g-retina-border', 'g-component'], true)%>
        <script>window.g_css_time = +new Date();document.domain='weiyun.com';</script>
		<link rel="shortcut icon" href="https://img.weiyun.com/vipstyle/nr/box/img/favicon.ico?max_age=31536000" type="image/x-icon" />
    </head>
    <body cz-shortcut-listen="true">
</script>

<script id="baseBottom" type="text/html" nowith="yes">
    <script type="text/javascript">
        setTimeout(function() {
            window.g_end_time = +new Date();
        }, 0);
    </script>
    <%=require('weiyun/util/inline').js(['seajs', 'configs_mobile'])%>
    <script type="text/javascript">

        <% if(data) { %> //已经失败就不进行初始化了
            window.node_sync = true;
            seajs.use(['$', 'lib','common', 'signin'], function($, lib, common, signin) {
                window.g_js_time = +new Date();
                var signin = signin.get('./signin');
                signin.render(<%=JSON.stringify(data)%>);
            });
        <% } %>
    </script>
    <script type='text/javascript' src='//img.weiyun.com/club/weiyun/js/publics/tcss/tcss.ping.js'></script>
    <script>
        var pvClickSend = function (tag) {
            if (typeof(pgvSendClick) == "function") {
                pgvSendClick({
                    hottag: tag,
                    virtualDomain: 'www.weiyun.com'
                });
            }
        };
        (function() {
            if (typeof pgvMain == 'function') {
                pgvMain("", {
                    tagParamName: 'WYTAG',
                    virtualURL: '/mobile/activities',
                    virtualDomain: "www.weiyun.com"
                });
            }
        })();
    </script>
    </body>
</html>
</script>