<!--
路径
@author jameszuo
@date 13-3-5 上午10:34
-->
<script id="file_path" type="text/html" nowith="yes">
    <div id="_photo_file_path" class="act-panel-inner cleafix" style="display: none;">
        <!-- 面包屑导航 s -->
        <div data-id="breadcrumb" class="mod-breadcrumb">
            <ul data-inner class="breadcrumb clearfix">
                <li class="item cur">
                    <a href="javascript:void(0)">全部</a>
                </li>
            </ul>
        </div>
        <!-- 面包屑导航 e -->
    </div>
</script>

<!--
路径子项
@author jameszuo
@date 13-3-5 上午10:34
-->
<script id="file_path_items" type="text/html" nowith="yes">
    <%
    var lib = require('lib'),
    $ = require('$'),
    text = lib.get('./text'),

    file_list = require('./file_list.file_list'),

    common = require('common'),
    constants = common.get('./constants'),
    click_tj = common.get('./configs.click_tj'),
    scr_reader_mode = common.get('./scr_reader_mode'),

    name_len = constants.UI_VER === 'WEB' ? 10 : 5,
    target_node = data.target_node, // 目标目录
    enable = data.enable !== false, // 是否可点击
    has_more = !!data.has_more,
    z_index_start = constants.DIR_DEEP_LIMIT + 1,
    path = [],

    read_mode = scr_reader_mode.is_enable();

    %>
    <li data-more class="item">
        <a href="javascript:void(0)">全部</a>
    </li>
    <%
    if (target_node) {
        var is_cur = true,
        name = text.text(text.smart_sub(target_node.get('name'), name_len)),
        aria_label = read_mode?(is_cur ? '当前':'进入') + '路径：' + path.join('。'):'';
        path.push(name);
    %>
        <li <% if (!is_cur) { %> data-file-id="<%= target_node.get('id') %>" <% } else {%>data-cur<%} %>
        tabindex="0" hidefocus="on"
        class="item <%= is_cur ? 'cur':'' %>"
    >
        <i class="icon icon-bread-next"></i>
        <a href="javascript:void(0)"><%=read_mode?aria_label:''%><%= name %></a></li>
    <%
        }
    %>
</script>


