<script id="fileList" type="text/html" nowith="yes">
    <section id="_container" class="wy-share-filelist-wrapper">
        <!-- 点击保存到微云后，ul addClass('active') removeClass('unactive'),
             点击取消后，ul removeClass('active') addClass('unactive') -->
        <ul id="_list" class="unactive">
            <%
            var htmlEscape = require('weiyun/util/htmlEscape');
            var prettysize = require('weiyun/util/prettysize');
            var fileType = require('weiyun/util/fileType');
            var list = data.list || [];
            %>
            <%
            list.forEach(function(file){
                var is_dir = !!file['dir_key'];
                var id = is_dir ? file['dir_key'] : file['file_id'];
                var file_name = is_dir ? htmlEscape(file['dir_name']) : htmlEscape(file['filename']);
                var file_size = is_dir ? 0 : prettysize(file['file_size']);
                var file_type = is_dir ? 'folder' : fileType(file_name);
                var thumb_url = file.ext_info && file.ext_info.thumb_url;//缩略图
                var https_url = file.ext_info && file.ext_info.https_url;//缩略图https
            %>
            <!-- 文件是不可选择的时候 添加unchoseable class -->
            <li data-id="item" id="item_<%=id%>" data-file-id="<%=id%>" data-action="enter" class="wy-file-item">
                <i <% if(thumb_url) { %> data-src="<%=thumb_url%>" data-https-src="<%=https_url%>" <% } %> class="icons-filetype icon-<%=file_type%>"></i>
                <div class="file-describe bBor">
                    <h3 class="file-name"><%=file_name%></h3>
                  <span class="file-info">
                    <span class="file-size"><%=file_size%></span>
                  </span>
                </div>
            </li>
            <% }); %>
        </ul>

        <!-- 一次加载20个文件，要再加载的时候显示 '加载中' -->
        <div id="_load_more" class="wy-file-loading" style="display: none;">
            <i class="icons icon-load"></i>
            <span>加载中...</span>
        </div>
    </section>
    <div id="_toolbar"  style="display: none;">
        <div data-id="normal" class="wy-file-controller g-bottom-bar">
            <button class="btn" data-action="share" role="button">选择文件并分享</button>
        </div>
        <div data-id="confirm" class="wy-file-controller g-bottom-bar" style="display:none;">
            <button class="btn btn-certain" data-action="confirm" role="button">确定</button>
            <button class="btn btn-cancel" data-action="cancel" role="button">取消</button>
        </div>
    </div>
</script>