<!--
创建/管理密码框
@author hibincheng
@date 2013-09-17
-->
<script id="secret_dialog" type="text/html" no-width="yes">
    <%
        var $ = require('$');
    %>
    <div id="_share_secret_pop_container" data-no-selection class="full-pop full-pop-small" close-box="true">
        <h3 data-draggable-target class="full-pop-header __title"></h3>
        <div class="full-pop-content __content">
            <!--创建密码content-->
            <div data-id="create_content" class="popshare-box popshare-pass-manage" style="display:none;">
                <div class="create">
                    <p class="infor">请输入您要创建的密码：</p>
                    <div class="buf-password"><input style="ime-mode:disabled" name="create_pwd_text" data-id="pwd_text" type="text" maxlength="4" value=""></div>
                </div>
            </div>
            <!--修改密码content-->
            <div data-id="change_content" class="popshare-box popshare-pass-manage" style="display:none;">
                <div class="change">
                    <div class="del"><i data-id="del_pwd_check" class="ico"></i><span data-id="del_pwd_check_tip">删除密码</span></div>
                    <div class="edit buf-password"><i data-id="change_pwd_check" class="ico ico-checked"></i><span data-id="change_pwd_check_tip">修改密码</span><input style="ime-mode:disabled" name="change_pwd_text" data-id="change_pwd_text" type="text" maxlength="4" value=""></div>
                </div>
            </div>
            <!--成功content-->
            <div data-id="success_content" class="popshare-box popshare-pass-manage" style="display:none;">
                <div class="success">
                    <div class="msg"><i class="ico"></i><span data-id="success_title"></span></div>
                    <p data-id="success_info" class="infor"></p>
                    <p data-id="success_pwd" class="pass"></p>
                </div>
            </div>
        </div>
        <div class="full-pop-btn __buttons">
            <span class="infor" data-id="msg_tip" style="display:none;"></span>
            <%
            $.each(data.buttons || [], function(i, btn) {
            %>
                <%if(btn.id=='COPY') { %>
                    <a data-clipboard-target-pop  type="button" data-btn-id="<%=btn.id %>" class="g-btn <%=btn.klass %>" href="#" ><span class="btn-inner"><%= btn.text %></span></a>
                <% } else { %>
                    <a type="button" data-btn-id="<%=btn.id %>" class="g-btn <%=btn.klass %>" href="#" ><span class="btn-inner"><%= btn.text %></span></a>
                <% } %>
            <% }); %>
        </div>
        <a data-btn-id="CANCEL" href="#" class="full-pop-close" close-btn="true" title="关闭">×</a>
    </div>
</script>