<script id="body" type="text/html" nowith="yes">
    <% var util = data.util || {};%>
    <%
        // 把fileType方法包一层，adapter
        util.customFileType = function(ext) {
            var result;
            var fileType = function(name) {
                return util.fileType(name, 'v2');
            };

            if (ext === 'package' || !ext) {
                result = 'shared-link';
            } else {
                result = fileType(ext);
            }
            return result;
        };
    %>
    <%=require('weiyun/util/inline').css(['app-share-link-list'], true)%>
    <div class="app-share-link-list">
        <ul class="share-link-wrap j-share-link-list">
            <%
                for (var i = 0, items = data.item || [], len = items.length; i < len; i++) {
                    var item = items[i];
            %>
            <li data-share-item
                data-share-key="<%= item.share_key %>"
                data-share-name="<%=item.share_name%>"
                data-share-create-time="<%=item.create_time%>"
                data-share-pwd="<%=item.share_pwd%>"
                data-share-remain-time="<%=item.remain_time%>"
                data-share-icon="<%=item.share_icon%>"
                data-share-thumb-url="<%=item.thumb_url%>"
                class="wy-file-item j-share-item <%=(!item.share_name || !item.remain_time) ? 'fail' : ''%> <%=item.result===20002 ? 'expired' : ''%>">
                <i class="icon icon-m icon-<%=util.customFileType(item.share_icon || '')%>-m"></i>
                <div class="file-describe bBor">
                    <h3 class="file-name"><%=util.htmlEscape(item.share_name) || '该文件已删除'%></h3>
                    <span class="file-info">
                        <span class="file-date"><%=util.dateformat(item.create_time, 'yyyy-mm-dd HH:MM')%></span>
                        <span class="file-times">浏览<%=item.view_cnt%>次</span>
                        <span class="file-times">下载<%=item.down_cnt%>次</span>
                    </span>
                </div>
                <div class="right">
                    <%if (!item.share_name) {%>
                    <span class="txt"></span>
                    <%} else {%>
                    <i class="icon-grey-rarr"></i>
                    <%}%>
                </div>
            </li>
            <%
                }
            %>
        </ul>
        <div class="file-num j-file-count" <%=data.done ? '' : 'style="display:none;"'%>>
            <span><%=(data.item || []).length%>个文件</span>
        </div>
        <div class="wy-file-loading j-loading" style="display:none;">
            <i class="icon-load"></i>
            <span>加载中...</span>
        </div>
    </div>
    <script type="text/javascript" src="//img.weiyun.com/club/qqdisk/web/js/lib/zepto-1.0.0.min.js?max_age=604800"></script>
    <%=require('weiyun/util/inline').js(['seajs', 'configs_mobile'])%>
    <script>
        seajs.use(['$', 'lib','common', 'share_trace'], function($, lib, common, share_trace) {
            var share_list = share_trace.get('./share_list');
            share_list.init(<%=JSON.stringify(data)%>);
        });
    </script>

    <script type='text/javascript' src='//img.weiyun.com/club/weiyun/js/publics/tcss/tcss.ping.js'></script>
    <script>
        (function() {
            if (typeof pgvMain == 'function') {
                pgvMain("", {
                    tagParamName: 'WYTAG',
                    virtualURL: '/h5/share_list.html',
                    virtualDomain: "www.weiyun.com"
                });
            }
        })();
    </script>
</script>