<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员特权</title>
    <meta name="keywords" content="微云, 微云下载, 腾讯微云, 照片备份, 手机照片备份, 通讯录备份, 文件管理, 相册管理, 云相册, 微云官网网站, 微云官网, 微云网页版, weiyun, weiyun web">
    <meta name="description" content="微云是腾讯公司为用户精心打造的一项智能云服务, 您可以通过微云方便地在手机和电脑之间,同步文件、推送照片和传输数据。">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" href="//img.weiyun.com/qz-proj/wy-h5/app-iap-detail.css">
</head>
<body>
<div class="app-iap-detail">
    <ul class="power-list clearfix">
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-space"></i>
            </div>
            <p class="description">存储容量4T</p>
            <p class="note">免费用户10G</p>
            <p class="txt">微云会员，可享有最大4T存储容量，容量有效期与会员时长一致。</p>
            <img src="//qzonestyle.gtimg.cn/qz-proj/wy-h5/img/iap/table-space.png">
        </li>
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-flow"></i>
            </div>
            <p class="description">单日流量35G</p>
            <p class="note">免费用户1G</p>
            <p class="txt">微云会员，单个自然日可上传累计最多35G的文件(包含从QQ邮箱、QQ离线消息、QQ群/讨论组、离线下载、分享链接转存文件到微云)。当天流量用完后，任务列表中超出流量外的任务会暂停，到下一自然日时，可以手动恢复上传。</p>
            <img src="//qzonestyle.gtimg.cn/qz-proj/wy-h5/img/iap/table-flow.png">
        </li>
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-share"></i>
            </div>
            <p class="description">分享有效期65天</p>
            <p class="note">免费用户7天</p>
            <p class="txt">微云会员，尊享链接有效时长最长65天。</p>
            <img src="//qzonestyle.gtimg.cn/qz-proj/wy-h5/img/iap/table-share.png">
        </li>
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-term"></i>
            </div>
            <p class="description">回收站有效期45天</p>
            <p class="note">免费用户7天</p>
            <p class="txt">微云会员，回收站文件专享最长45天保存时间。</p>
            <img src="//qzonestyle.gtimg.cn/qz-proj/wy-h5/img/iap/table-term.png">
        </li>
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-transmission"></i>
            </div>
            <p class="description"><span>极速传输</span></p>
            <p class="note">免费用户无加速</p>
            <p class="txt">微云会员使用专属的下载通道，提升用户所有任务的上传/下载速度。</p>
        </li>
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-offline"></i>
            </div>
            <p class="description"><span>离线下载55次</span></p>
            <p class="note">免费用户5次</p>
            <p class="txt">微云会员每日使用离线下载最多55次，免费用户可试用5次。</p>
            <img src="//qzonestyle.gtimg.cn/qz-proj/wy-h5/img/iap/table-offline.png">
        </li>
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-video"></i>
            </div>
            <p class="description">备份原画视频</p>
            <p class="note">免费用户高清</p>
            <p class="txt">微云会员可在上传/自动备份视频文件时，使用原画质量，原汁原味保留原始文件。</p>
        </li>
        <li class="power-item bBor">
            <div class="pic">
                <i class="icon icon-label"></i>
            </div>
            <p class="description">开放全部标签</p>
            <p class="note">免费用户8个</p>
            <p class="txt">在照片-标签下，微云提供了智能分类标签功能。非会员只能展示8个照片的分类信息，会员尊享全部照片的智能标签分类特权。</p>
        </li>
    </ul>
</div>
</body>
</html>